<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="{% static 'image/icon1.png' %}">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
        <title> {% block title %} Necsproject {% endblock title %}</title>
        <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css'>
        <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <!--Chart js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
        
    </head>
    <body>
        <div class="drawer-mobile drawer">
            <input
                id="left-sidebar-drawer"
                type="checkbox"
                class="drawer-toggle"
            />
            <div class="drawer-content bg-white">
                <div class="navbar sticky top-0 z-10 flex h-16 justify-between bg-white shadow-md lg:justify-end">
                    <div class="flex lg:hidden">
                        <label
                            htmlFor="left-sidebar-drawer"
                            class="cursor-pointer pr-2"
                        >
                            เมนู
                        </label>
                        <img src="{% static 'image/Necsproject.png' %}" alt="" class="navbar-brand-img"
                        style="height: 60px; width: 110px" />
                        
                    </div>
                    <div class="flex space-x-3">
                    <div class="indicator">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /></svg>
                        <span class="badge badge-xs badge-error bg-red-500 indicator-item">5</span>
                    </div>
                    <div class="dropdown dropdown-end">
                        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                          <div class="w-10 rounded-full">
                            <img src="{% static 'image/profile.png' %}" />
                          </div>
                        </label>
                        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                            <div class="flex items-center space-x-4">
                                <img class="w-10 h-10 rounded-full" src="{% static 'image/profile.png' %}" alt="">
                                <div class="font-medium dark:text-white">
                                    <div>{{user.first_name}} {{user.last_name}}</div>
                                    <div class="text-sm text-gray-500 dark:text-gray-400">{{user.email}}</div>
                                </div>
                            </div>
                          <li><a href="/">Logout</a></li>
                        </ul>
                      </div>
                    </div>
                </div>        
                <main class="min-h-screen w-full z-50">
                    {% block content %}

                    {% endblock %}
                </main>
                <div class="drawer-footer font-semibold sticky bottom-0 flex h-16 items-center justify-center space-x-10 border-y bg-white">
                    MAHANAKORN UNIVERSITY 
                </div>
            </div>
            <div class="drawer-side">
                <label  htmlFor="left-sidebar-drawer" for="my-drawer" class="drawer-overlay"></label>
                <ul class="menu w-80 border-x bg-[#35A29F] pt-2 text-base-content md:w-20 lg:w-48">
                    <div class="flex justify-between px-2">
                        <div class="flex w-full lg:justify-center  lg:pt-1">
                            <img src="https://cdn.discordapp.com/attachments/1095727305453752402/1120379805620240545/11.png" alt="" class="navbar-brand-img"
                            style="height: 110px; width: 140px" />

                        </div>
                        <label
                            class="flex justify-end pt-1 lg:hidden"
                            htmlFor="left-sidebar-drawer"
                        >
                        close
                        </label>
                    </div>
                    {% block nav-dashboard %}
                    <li>
                        <a href="{% url 'dashboard-page' %}" class="text-white font-semibold">DashBoard</a>
                    </li>
                    {% endblock nav-dashboard %}

                    {% block nav-job %}
                    <li >
                        <a href="{% url 'jobalert-page' %}" class="text-white font-semibold">Job alert</a>
                    </li>
                    {% endblock nav-job %}

                    {% block nav-main %}
                    <li>
                        <a href="{% url 'maintable-page' %}" class="text-white  font-semibold">Main table</a>
                    </li>
                    {% endblock nav-main %}

                    {% block nav-kanban %}
                    <li>
                        <a href="{% url 'kanban-page' %}" class="text-white font-semibold">Kanban</a>
                    </li>
                    {% endblock nav-kanban %}
                </ul>
            </div>
        </div>   
    </body>
</html>