{% extends "base.html" %}

{% block title %} Necsproject Job Alert {% endblock title %}

{% block nav-job %} <li><a href="{% url 'jobalert-page' %}" class="bg-[#acc9e9] text-white font-semibold">Job alert</a></li>   {% endblock nav-job %}

{% load static %}

{% block content %}

  <div class="drawer drawer-end">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <h1 class="text-3xl mb-10 ml-10 mt-10 font-bold">Job alert</h1>
      <div class="flex space-x-20 mt-5 items-center mx-10">
        <div class="flex space-x-3"> 
            <div class="absolute ml-5 mt-2 ">
              <button type="submit" name="search">
                <img width="20" height="20" src="{% static 'image/icons8-search-50.png' %} "alt=""/>
              </button>
            </div>
            <input id="search" onkeyup="filterSearch()" type="text" name="search" placeholder="Search" class="pr-2 pl-8 font-medium placeholder-gray-500 text-black rounded-2xl border-none ring-1 ring-gray-500 focus:ring-2">
          <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost  btn-sm  w-[120px]">
              <div class="flex space-x-2 items-center" id="filterPerson">
                <div class="text-sm font-semibold normal-case">Person</div>
                <img class="w-4 h-4" src="{% static 'image/user.png' %}">
              </div>
            </label>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li>
                <div class="flex items-center">
                  <div class="text-[10px] bg-blue-500 w-6 h-6 p-1 rounded-full text-white text-center">WN</div>
                  <button class="text-lg" type="submit" name="person" value="Wanee" onclick="filterPerson(2)">wanee</button>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <div class="text-[10px] bg-red-500 w-6 h-6 p-1 rounded-full text-white text-center">PL</div>
                  <button class="text-lg" type="submit" name="person" value="Plaifah" onclick="filterPerson(3)">plaifah</button>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <div class="text-[10px] bg-gray-500 w-6 h-6 p-1 rounded-full text-white text-center">US</div>
                  <button class="text-lg" type="submit" name="person" value="Unassigned" onclick="filterPerson(4)">Unassigned</button>
                </div>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost  btn-sm w-[120px]">
              <div class="flex space-x-2 items-center" id="filterSeverity">
                <div class="text-sm font-semibold normal-case">Filter</div>
                <img class="w-4 h-4" src="{% static 'image/filter.png' %}">
              </div>
            </label>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li>
                <div class="flex items-center space-x-2">
                  <div class="h-5 w-5 rounded-full bg-green-700"></div>
                  <button type="submit" name="severity" value="Low" onclick="filterSeverity('Low')">Low</button>
                </div>
              </li>
              <li>
                <div class="flex items-center space-x-2">
                  <div class="h-5 w-5 rounded-full bg-yellow-500"></div>
                  <button type="submit" name="severity" value="Medium" onclick="filterSeverity('Medium')">Medium</button>
                </div>
              </li>
              <li>
                <div class="flex items-center space-x-2">
                  <div class="h-5 w-5 rounded-full bg-orange-500"></div>
                  <button type="submit" name="severity" value="High" onclick="filterSeverity('High')">High</button>
                </div>
              </li>
              <li>
                <div class="flex items-center space-x-2">
                  <div class="h-5 w-5 rounded-full bg-red-600"></div>
                  <button type="submit" name="severity" value="Critical" onclick="filterSeverity('Critical')">Critical</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="overflow-x-auto mt-10 mx-10">
        <table class="table table-zebra w-full">
          <thead>
            <tr>
              <th>ID</th>
              <th>Time</th>
              <th>Search Name</th>
              <th>Severity</th>
              <th>Assign</th>
              <th>Detail</th>
            </tr>
          </thead>
          <tbody id="jobData"></tbody>  
        </table>
      </div>
    </div> 
    <div class="drawer-side">
      <label for="my-drawer-4" class="drawer-overlay"></label>
      <ul class="menu p-4 w-[700px] h-full bg-white text-base-content mb-10">
        <div class="flex space-x-4 mb-5 ml-2 mt-5">
          <div class="text-lg">Ticket ID</div>
          <div class="text-lg" id="ticket_id"></div>
        </div>   
          <div class="box-content w-[630px] p-4 border-2 rounded-md ml-1">
            <div class="flex space-x-2">
              <div class="mt-2 ml-5">
                <div class="text-sm font-semibold">Assignee</div>
              </div>
              <div class="px-8">
                <div class="dropdown">
                  <label tabindex="0" class="btn btn-ghost  btn-sm  w-[120px]">
                    <div class="flex space-x-2 items-center" id="assign">
                      <div class="text-sm font-semibold normal-case">Person</div>
                      <img class="w-4 h-4" src="{% static 'image/user.png' %}">
                    </div>
                  </label>
                  <div class="text-blue-500 text-sm pl-[26px] underline cursor-pointer" onclick="assignToMe('{{user.id}}')">assign to me</div>
                  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                      <div class="flex items-center">
                        <div class="text-[10px] bg-blue-500 w-6 h-6 p-1 rounded-full text-white text-center">WN</div>
                        <button class="text-lg" name="person" value="Wanee" onclick="Assignee(2)">wanee</button>
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center">
                        <div class="text-[10px] bg-red-500 w-6 h-6 p-1 rounded-full text-white text-center">PL</div>
                        <button class="text-lg" name="person" value="Plaifah" onclick="Assignee(3)">plaifah</button>
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center">
                        <div class="text-[10px] bg-gray-500 w-6 h-6 p-1 rounded-full text-white text-center">US</div>
                        <button class="text-lg" name="person" value="Unassigned" onclick="Assignee(4)">Unassigned</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="flex space-x-2 mt-3">
              <div class="mt-2 ml-5">
                <div class="text-sm font-semibold">Reporter</div>
              </div>
              <div class="px-8">
                <div class="dropdown">
                  <label tabindex="0" class="btn btn-ghost  btn-sm  w-[120px]">
                    <div class="flex space-x-2 items-center" id="Reporter">
                      <div class="text-sm font-semibold normal-case">Person</div>
                      <img class="w-4 h-4" src="{% static 'image/user.png' %}">
                    </div>
                  </label>
                  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                      <div class="flex items-center">
                        <div class="text-[10px] bg-blue-500 w-6 h-6 p-1 rounded-full text-white text-center">WN</div>
                        <button class="text-lg" name="person" value="Wanee" onclick="Reporter(2)">wanee</button>
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center">
                        <div class="text-[10px] bg-red-500 w-6 h-6 p-1 rounded-full text-white text-center">PL</div>
                        <button class="text-lg" name="person" value="Plaifah" onclick="Reporter(3)">plaifah</button>
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center">
                        <div class="text-[10px] bg-gray-500 w-6 h-6 p-1 rounded-full text-white text-center">US</div>
                        <button class="text-lg" name="person" value="Unassigned" onclick="Reporter(4)">Unassigned</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="flex space-x-2 mt-3">
              <div class="mt-2 ml-5">
                <div class="text-sm font-semibold">App</div>
              </div>
              <div class="px-[59px]">
                <div class="dropdown">
                  <label tabindex="0" class="btn btn-ghost  btn-sm  w-[120px]">
                    <div class="flex space-x-2 items-center" id="app">
                      <div class="text-sm font-semibold normal-case">Person</div>
                      <img class="w-4 h-4" src="{% static 'image/user.png' %}">
                    </div>
                  </label>
                  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                      <div class="flex items-center">
                        <button class="text-md" name="Splunk" value="Splunk" onclick="App('Splunk')">Splunk</button>
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center">
                        <button class="text-md" name="Special case" value="Special case" onclick="App('Special case')">Special case</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>  
          </div>
          <div class="text-right mt-3 mr-2 " id="save">
            <button class="bg-[#3B82F6] px-2 py-2 rounded-md text-white font-semibold" type="submit" id="ticketId" name="ticketId" value="test" onclick="submit()">save</button>
          </div>
      <div class="box-content w-[630px] p-4 border-2 rounded-md ml-1 mt-3">
        <div class="font-semibold text-lg ">
          Details
        </div>
        <div class="px-5 flex">
          <div class="w-1/4 py-4 mt-1 mr-1 font-semibold pl-3">Date</div>
          <div class="w-3/4 py-4 mt-1 pl-3"id="date">27 Jul 2023 00:00</div>
        </div>
        <div class="px-5 flex">
          <div class="w-1/4 py-4 mt-1 mr-1 font-semibold pl-3">Search name</div>
          <div class="w-3/4 py-4 mt-1 pl-3"id="searchName">Test 1</div>
        </div>
        <div class="px-5 flex">
          <div class="w-1/4 py-4 mt-1 mr-1 font-semibold pl-3">Results link</div>
          <a class="w-3/4 py-4 mt-1 pl-3 text-blue-500 underline text-xs/[20px]" href="" target="_blank" id="link"></a>
        </div>
        <div class="px-5 flex">
          <div class="w-1/4 py-4 mt-1 mr-1 font-semibold pl-3">Severity</div>
          <div class="w-3/4 py-4 mt-1 pl-3" id="severity"></div>
        </div>
        <div class="px-5 flex">
          <div class="w-1/4 py-4 mt-1 mr-1 font-semibold pl-3">Result</div>
          <div class="w-3/4 py-4 mt-1 pl-3" id="result"></div>
        </div>
      </div>
      </ul>
    </div>
  </div>

{% endblock content %}


{% block javascript %}
<script>
  let severity = null
  let person = null
  let assignee_value = null
  let reporter_value = null
  let app_value = null
  let jobPk = null

  function showSeverity(severity) {
    switch(severity){
      case 'Low' : return (`
      <div>
        <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-green-700"></div>
        <div>Low</div>
        </div>
      </div>
      `);
      case 'Medium' : return (`
      <div>
       <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-yellow-500"></div>
          <div>Medium</div>
        </div>
      </div>
      `);
      case 'High' : return (`
      <div>
        <div class="flex items-center space-x-2">
          <div class="h-5 w-5 rounded-full bg-orange-500"></div>
          <div>High</div>
          </div>
      </div>
      `);
      case 'Critical' : return (`
       <div>
        <div class="flex items-center space-x-2">
          <div class="h-5 w-5 rounded-full bg-red-600"></div>
          <div>Critical</div>
          </div>
      </div>
      `);
    }
  }

  function formatDate(date) {
      var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();
      if (month.length < 2) 
          month = '0' + month;
      if (day.length < 2) 
          day = '0' + day;
      return [day,month,year].join('-');
  }

  function getData(id) { 
    return $.ajax({
      url: '{% url "get-user-info" %}',
      type: 'GET',
      data: {
          'id': id,
        }
    })
  };

  async function getUserInfo(id) {
    let result = null
    try {
      const res = await getData(id)
      result = JSON.parse(res)[0].fields.username
    } catch(err) {
      console.log(err);
    }
    return result
  }

  function filterSeverity(data) {
    severity = data
    table()

    $("#filterSeverity").empty().append("");

    if(data ===  'Low'){
      $("#filterSeverity").append(`
      <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-green-700"></div>
        <div class="text-sm font-semibold normal-case">Low</div>
      </div>
      `)
    }
    if(data ===  'Medium'){
      $("#filterSeverity").append(`
      <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-yellow-500"></div>
        <div class="text-sm font-semibold normal-case">Medium</div>
      </div>
      `)
    }
    if(data ===  'High'){
      $("#filterSeverity").append(`
      <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-orange-500"></div>
        <div class="text-sm font-semibold normal-case">High</div>
      </div>
      `)
    }
    if(data ===  'Critical'){
      $("#filterSeverity").append(`
      <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-red-600"></div>
        <div class="text-sm font-semibold normal-case">Critical</div>
      </div>
      `)
    }
  }

  function filterPerson(data){
    person = data
    table()
    $("#filterPerson").empty().append("");

    if(data ===  2){
      $("#filterPerson").append(`
      <div class="flex space-x-2 items-center">
        <div class="text-[10px] bg-blue-500 w-6 h-6 p-1 rounded-full text-white text-center">WN</div>
        <div class="text-sm font-semibold normal-case">wanee</div>
      </div>
      `)
    }
    if(data ===  3){
      $("#filterPerson").append(`
      <div class="flex space-x-2 items-center">
        <div class="text-[10px] bg-red-500 w-6 h-6 p-1 rounded-full text-white text-center">PS</div>
        <div class="text-sm font-semibold normal-case">plaifah</div>
      </div>
      `)
    }
    if(data ===  4){
      $("#filterPerson").append(`
      <div class="flex space-x-2 items-center">
        <div class="text-[10px] bg-gray-500 w-6 h-6 p-1 rounded-full text-white text-center">US</div>
        <div class="text-sm font-semibold normal-case">unassigned</div>
      </div>
      `)
    }
  }

  function addAssigneeValue(item){
    assignee_value = item
  }

  function addReporterValue(item){
    reporter_value = item
  }

  function addAppValue(item){
    app_value = item
  }

  function filterSearch(){
    table()
  }

  function assignToMe(item){
    assignee_value = item
    
    $("#assign").empty().append(""); //unassigned

    if(item === '4'){
      $("#assign").append(` 
      <div class="flex items-center space-x-2">
        <div class="text-[10px] bg-gray-500 w-6 h-6 p-1 rounded-full text-white text-center">UN</div>
        <button class="text-md" name="person" value="Unassigned">unassigned</button>
      </div>
      `)
    }
    if(item === '3'){
      $("#assign").append(`
      <div class="flex items-center space-x-2">
        <div class="text-[10px] bg-red-500 w-6 h-6 p-1 rounded-full text-white text-center">PL</div>
        <button class="text-md" name="person" value="Plaifah">plaifah</button>
      </div>
      `)  
    }
    if(item === '2'){
      $("#assign").append(`
      <div class="flex items-center space-x-2">
        <div class="text-[10px] bg-blue-500 w-6 h-6 p-1 rounded-full text-white text-center">WN</div>
        <button class="text-md" name="person" value="Wanee">wanee</button>
      </div>
      `)  
    }
  }

  function Assignee(item){
    assignee_value = item
    $("#assign").empty().append(""); //unassigned
    if(item === 4){
      $("#assign").append(` 
      <div class="flex items-center space-x-2">
        <div class="text-[10px] bg-gray-500 w-6 h-6 p-1 rounded-full text-white text-center">UN</div>
        <button class="text-md" name="person" value="Unassigned">unassigned</button>
      </div>
      `)
    }
    if(item === 3){
      $("#assign").append(`
      <div class="flex items-center space-x-2">
        <div class="text-[10px] bg-red-500 w-6 h-6 p-1 rounded-full text-white text-center">PL</div>
        <button class="text-md" name="person" value="Plaifah">plaifah</button>
      </div>
      `)  
    }
    if(item === 2){
      $("#assign").append(`
      <div class="flex items-center space-x-2">
        <div class="text-[10px] bg-blue-500 w-6 h-6 p-1 rounded-full text-white text-center">WN</div>
        <button class="text-md" name="person" value="Wanee">wanee</button>
      </div>
      `)  
    }
  }

  function Reporter(item) {
    reporter_value = item
    $("#Reporter").empty().append("");

    if(item === 4){
      $("#Reporter").append(`
      <div class="flex items-center space-x-2">
        <div class="text-[10px] bg-gray-500 w-6 h-6 p-1 rounded-full text-white text-center">UN</div>
        <button class="text-md" name="person" value="Unassigned">unassigned</button>
      </div>
      `)
    }
    if(item === 3){
      $("#Reporter").append(`
      <div class="flex items-center space-x-2">
        <div class="text-[10px] bg-red-500 w-6 h-6 p-1 rounded-full text-white text-center">PL</div>
        <button class="text-md" name="person" value="Plaifah">plaifah</button>
      </div>
      `)  
    }
    if(item === 2){
      $("#Reporter").append(`
      <div class="flex items-center space-x-2">
        <div class="text-[10px] bg-blue-500 w-6 h-6 p-1 rounded-full text-white text-center">WN</div>
        <button class="text-md" name="person" value="Wanee">wanee</button>
      </div>
      `)  
    }
  }

  function App(item){
    app_value = item
    $("#app").empty().append("");

    if(item === 'Splunk'){
      $("#app").append(`
        <div class="text-sm">Splunk</div>
      `)
    }

    if(item === 'Special case'){
      $("#app").append(`
        <div class="text-sm">Special case</div>
      `)
    }

  }

  function submit(){
    $.ajax({
      url: '{% url "update-job-alert-id" %}',
      cache: false,
      data: {
        jobPk:jobPk,
        app_value:app_value,
        reporter_value:reporter_value,
        assignee_value:assignee_value
      },
      type: 'GET',
      success:async function(data) {
        location.reload();
      }})
  }

  async function getJobById(ticket_id,pk){
    jobPk= pk
    ticketId = ticket_id
    $("#ticket_id").empty().append("");
    $("#date").empty().append("");
    $("#searchName").empty().append("");
    $("#link").empty().append("");
    $("#severity").empty().append("");
    $("#result").empty().append("");
    $("#get_id").empty().append("");
    $("#ticketId").empty().append("");

    $.ajax({
      url: '{% url "get-job-alert-id" %}',
      data: {
        ticket_id
      },
      type: 'GET',
      success:async function(data) {
        console.log(JSON.parse(data)[0].pk)
        const result = JSON.parse(data)[0].fields

        App(result.app)
        Assignee(result.assign)
        Reporter(result.report)
        $("#ticket_id").append(`<div class="text-lg font-semibold">${result.ticket_id}</div>`)
        $("#date").append(`<div>${formatDate(result.date)}</div>`)
        $("#searchName").append(`<div>${result.search_name}</div>`)
        $("#link").append(`<div>${result.result_link}</div>`)
        $("#severity").append(`<div>${showSeverity(result.severity)}</div>`)
        $("#ticketId").append(`<button class="bg-[#3B82F6] px-2 py-2 rounded-md text-white font-semibold" type="submit" id="ticketId" name="ticketId" value=${JSON.parse(data)[0].pk}>save</button>`)

        for (const [key, value] of Object.entries(JSON.parse(result.results))) {
          $("#result").append(
            `<div class="flex space-x-3">
                <div class="font-semibold">${key}: </div>
                <div>${value}</div>
            </div>`)
        }
      }})
  }

  function table() {
    input = document.getElementById("search");
    search = input?.value

    $("#jobData").empty().append("");

    $(document).ready(function() {
        $.ajax({
          url: '{% url "get-job-alert" %}',
          data:{
            severity,
            person,
            search
          },
          type: 'GET',
          success:async function(data) {
            const result = JSON.parse(data)
            let assignName = null

            for (var i = 0; i < result.length; i++) {
              const items = result[i].fields
              const jobPk = result[i].pk

              await getUserInfo(items.assign).then((value) => {
                assignName = value
              })
   
              $("#jobData").append(`
                <tr>
                  <th>${items.ticket_id}</th>
                  <td>${formatDate(items.date)}</td>
                  <td>${items.search_name}</td>
                  <td>${showSeverity(items.severity)}</td>
                  <td>${assignName}</td>
                  <td>
                    <label for="my-drawer-4">
                      <div class="flex items-center space-x-2 cursor-pointer">
                        <img class="w-5 h-5" src="{% static 'image/open.png' %}"/>
                        <div class="text-xs" onclick="getJobById(${items.ticket_id},${jobPk})">View Result</div>
                      </div>
                    </label>
                  </td>
                </tr>
                `)
            }
          },
          error: function(error) {
              console.log('Error:', error);
          }
      });
    });
  }

// การเขียนแบบนี้เรียกว่า IIFE คือ จะเป็น function ที่ถูกเรียกเมื่อ app มีการทำงาน
(() =>{
  table()
})()
    
</script>
{% endblock javascript %}


