{% extends "base.html" %}

{% block title %} Necsproject Job Alert {% endblock title %}

{% block nav-job %} <li><a href="{% url 'jobalert-page' %}" class="bg-[#acc9e9] text-white font-semibold">Job alert</a></li>   {% endblock nav-job %}

{% load static %}

{% block content %}

  <div class="drawer drawer-end">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <h1 class="text-3xl mb-10 ml-10 mt-10 font-bold">Job alert</h1>
      <div class="flex space-x-20 mt-5 items-center mx-10">
        <div class="flex space-x-3"> 
            <div class="absolute ml-5 mt-2 ">
              <button type="submit" name="search">
                <img width="20" height="20" src="{% static 'image/icons8-search-50.png' %} "alt=""/>
              </button>
            </div>
            <input id="search" onkeyup="filterSearch()" type="text" name="search" placeholder="Search" class="pr-2 pl-8 font-medium placeholder-gray-500 text-black rounded-2xl border-none ring-1 ring-gray-500 focus:ring-2">
          <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost  btn-sm  w-[120px]">
              <div class="flex space-x-2 items-center">
                {% if person == null %}
                  <div class="text-sm font-semibold normal-case">Person</div>
                  <img class="w-4 h-4" src="{% static 'image/user.png' %}">
                {% endif %} 
                {% if person %} 
                  {% if person == 'Wanee' %}
                  <div class="flex space-x-2 items-center">
                    <div class="text-[10px] bg-blue-500 w-6 h-6 p-1 rounded-full text-white text-center">WN</div>
                    <div class="text-sm font-semibold normal-case">{{person}}</div>
                  </div>
                  {% elif person == 'Plaifah' %} 
                  <div class="flex space-x-2 items-center">
                    <div class="text-[10px] bg-red-500 w-6 h-6 p-1 rounded-full text-white text-center">PS</div>
                    <div class="text-sm font-semibold normal-case">{{person}}</div> 
                  </div>
                  {% elif person == 'Unassigned' %}
                  <div class="flex space-x-2 items-center">
                    <div class="text-[10px] bg-gray-500 w-6 h-6 p-1 rounded-full text-white text-center">US</div>
                  <div class="text-sm font-semibold normal-case">{{person}}</div>
                </div>
                  {% endif %} 
                {% endif %}       
              </div>
            </label>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li>
                <div class="flex items-center">
                  <div class="text-[10px] bg-blue-500 w-6 h-6 p-1 rounded-full text-white text-center">WN</div>
                  <button class="text-lg" type="submit" name="person" value="Wanee" onclick="filterPerson(2)">wanee</button>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <div class="text-[10px] bg-red-500 w-6 h-6 p-1 rounded-full text-white text-center">PL</div>
                  <button class="text-lg" type="submit" name="person" value="Plaifah" onclick="filterPerson(3)">plaifah</button>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <div class="text-[10px] bg-gray-500 w-6 h-6 p-1 rounded-full text-white text-center">US</div>
                  <button class="text-lg" type="submit" name="person" value="Unassigned" onclick="filterPerson(4)">Unassigned</button>
                </div>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost  btn-sm w-[120px]">
              <!-- {% if severity == null %} -->
              <div class="flex space-x-2 items-center">
                <div class="text-sm font-semibold normal-case">Filter</div>
                <img class="w-4 h-4" src="{% static 'image/filter.png' %}">
              </div>
              <!-- {% else %}
                {% if severity == 'Low' %}
                <div class="flex items-center space-x-2">
                  <div class="h-5 w-5 rounded-full bg-green-700"></div>
                  <div>Low</div>
                </div>
                {% elif severity == 'Medium' %}
                <div class="flex items-center space-x-2">
                  <div class="h-5 w-5 rounded-full bg-yellow-500"></div>
                  <div>Medium</div>
                </div>
                {% elif severity == 'High' %}
                <div class="flex items-center space-x-2">
                  <div class="h-5 w-5 rounded-full bg-orange-500"></div>
                  <div>High</div>
                </div>
                {% elif severity == 'Critical' %}
                <div class="flex items-center space-x-2">
                  <div class="h-5 w-5 rounded-full bg-red-600"></div>
                  <div>Critical</div>
                </div>
                {% endif %}
              {% endif %} -->
            </label>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li>
                <div class="flex items-center space-x-2">
                  <div class="h-5 w-5 rounded-full bg-green-700"></div>
                  <button type="submit" name="severity" value="Low" onclick="filterSeverity('Low')">Low</button>
                </div>
              </li>
              <li>
                <div class="flex items-center space-x-2">
                  <div class="h-5 w-5 rounded-full bg-yellow-500"></div>
                  <button type="submit" name="severity" value="Medium" onclick="filterSeverity('Medium')">Medium</button>
                </div>
              </li>
              <li>
                <div class="flex items-center space-x-2">
                  <div class="h-5 w-5 rounded-full bg-orange-500"></div>
                  <button type="submit" name="severity" value="High" onclick="filterSeverity('High')">High</button>
                </div>
              </li>
              <li>
                <div class="flex items-center space-x-2">
                  <div class="h-5 w-5 rounded-full bg-red-600"></div>
                  <button type="submit" name="severity" value="Critical" onclick="filterSeverity('Critical')">Critical</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="overflow-x-auto mt-10 mx-10">
        <table class="table table-zebra w-full">
          <thead>
            <tr>
              <th>ID</th>
              <th>Time</th>
              <th>Search Name</th>
              <th>Severity</th>
              <th>Assign</th>
              <th>Detail</th>
            </tr>
          </thead>
          <tbody id="jobData"></tbody>  
        </table>
      </div>
    </div> 
    <div class="drawer-side">
      <label for="my-drawer-4" class="drawer-overlay"></label>
      <ul class="menu p-4 w-[700px] h-full bg-white text-base-content">
        <div class="flex space-x-4 mb-5 ml-2 mt-5">
          <div class="text-lg">Ticket ID</div>
          <div class="text-lg">123456789</div>
        </div>
      <div class="box-content h-[120px] w-[630px] p-4 border-2 rounded-md ml-1">
          <div class="flex space-x-2">
            <div class="mt-2 ml-5">
              <div class="text-sm font-semibold">Assignee</div>
            </div>
            <div class="px-8">
              <select class="select select-sm select-bordered w-60 " name="" id="">
                <option value="name1">unassigned</option>
                <option value="name1">plaifah</option>
                <option value="name2">wanee</option>
              </select>
            </div>
          </div>
          <div class="flex space-x-2 mt-3">
            <div class="mt-2 ml-5">
              <div class="text-sm font-semibold">Reporter</div>
            </div>
            <div class="px-8">
              <select class="select select-sm select-bordered w-60 " name="" id="">
                <option value="name1">unassigned</option>
                <option value="name1">plaifah</option>
                <option value="name2">wanee</option>
              </select>
            </div>
          </div>
          <div class="flex space-x-2 mt-3">
            <div class="mt-2 ml-5">
              <div class="text-sm font-semibold">App</div>
            </div>
            <div class="px-[59px]">
              <select class="select select-sm select-bordered w-60 " name="" id="">
                <option value="name1">Splunk</option>
                <option value="name1">Special case</option>
              </select>
            </div>
          </div>  
      </div>
      <div class="text-right mt-3 mr-2 ">
        <button class="bg-[#3B82F6] px-2 py-2 rounded-md text-white font-semibold">save</button>
      </div>
      <div class="box-content h-[500px] w-[630px] p-4 border-2 rounded-md ml-1 mt-3">
        <div class="font-semibold text-lg ">
          Details
        </div>
        <div class="px-5 flex">
          <div class="w-1/4 py-4 mt-1 mr-1 font-semibold pl-3">Date</div>
          <div class="w-3/4 py-4 mt-1 pl-3">27 Jul 2023 00:00</div>
        </div>
        <div class="px-5 flex">
          <div class="w-1/4 py-4 mt-1 mr-1 font-semibold pl-3">Search name</div>
          <div class="w-3/4 py-4 mt-1 pl-3">Test 1</div>
        </div>
        <div class="px-5 flex">
          <div class="w-1/4 py-4 mt-1 mr-1 font-semibold pl-3">Results link</div>
          <a class="w-3/4 py-4 mt-1 pl-3 text-blue-500 underline text-xs/[20px]" href="" target="_blank">http://Splunk.localdomain:8000/app/search/@go?sid=scheduler__admin__search__RMD5fbe704c4af42aeda_at_1689078660_43</a>
        </div>
        <div class="px-5 flex">
          <div class="w-1/4 py-4 mt-1 mr-1 font-semibold pl-3">Severity</div>
          <div class="w-3/4 py-4 mt-1 pl-3">High</div>
        </div>
        <div class="px-5 flex">
          <div class="w-1/4 py-4 mt-1 mr-1 font-semibold pl-3">Result</div>
          <div class="w-3/4 py-4 mt-1 pl-3">High</div>
        </div>
      </div>
      </ul>
    </div>
  </div>

{% endblock content %}


{% block javascript %}
<script>
  let severity = null
  let person = null

  function showSeverity(severity) {
    switch(severity){
      case 'Low' : return (`
      <div>
        <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-green-700"></div>
        <div>Low</div>
        </div>
      </div>
      `);
      case 'Medium' : return (`
      <div>
       <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-yellow-500"></div>
          <div>Medium</div>
        </div>
      </div>
      `);
      case 'High' : return (`
      <div>
        <div class="flex items-center space-x-2">
          <div class="h-5 w-5 rounded-full bg-orange-500"></div>
          <div>High</div>
          </div>
      </div>
      `);
      case 'Critical' : return (`
       <div>
        <div class="flex items-center space-x-2">
          <div class="h-5 w-5 rounded-full bg-red-600"></div>
          <div>Critical</div>
          </div>
      </div>
      `);
    }
  }

  function formatDate(date) {
      var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();
      if (month.length < 2) 
          month = '0' + month;
      if (day.length < 2) 
          day = '0' + day;
      return [day,month,year].join('-');
  }

  function getData(id) { 
    return $.ajax({
      url: '{% url "get-user-info" %}',
      type: 'GET',
      data: {
          'id': id,
        }
    })
  };

  async function getUserInfo(id) {
    let result = null
    try {
      const res = await getData(id)
      result = JSON.parse(res)[0].fields.username
    } catch(err) {
      console.log(err);
    }
    return result
  }

  function filterSeverity(data) {
    severity = data
    table()
  }


  function filterPerson(data){
    person = data
    table()
  }

  function filterSearch(){
    table()
  }

  function table() {
    input = document.getElementById("search");
    search = input?.value

    $("#jobData").empty().append("");

    $(document).ready( function() {
        $.ajax({
          url: '{% url "get-job-alert" %}',
          data:{
            severity,
            person,
            search
          },
          type: 'GET',
          success:async function(data) {
            const result = JSON.parse(data)
            let assignName = null

            for (var i = 0; i < result.length; i++) {
              const items = result[i].fields

              await getUserInfo(items.assign).then((value) => {
                assignName = value
              })
              console.log('user =',items.assign)
              $("#jobData").append(`
                <tr>
                  <th>${items.ticket_id}</th>
                  <td>${formatDate(items.date)}</td>
                  <td>${items.search_name}</td>
                  <td>${showSeverity(items.severity)}</td>
                  <td>${assignName}</td>
                  <td>
                    <label for="my-drawer-4">
                      <div class="flex items-center space-x-2 cursor-pointer">
                        <img class="w-5 h-5" src="{% static 'image/open.png' %}"/>
                        <div class="text-xs">View Result</div>
                      </div>
                    </label>
                  </td>
                </tr>
                `)
            }
          },
          error: function(error) {
              console.log('Error:', error);
          }
      });
    });
  }

// การเขียนแบบนี้เรียกว่า IIFE คือ จะเป็น function ที่ถูกเรียกเมื่อ app มีการทำงาน
(() =>{
  table()
})()
    
</script>
{% endblock javascript %}


