{% extends "base.html" %}

{% block title %} Necsproject Main Table {% endblock title %}

{% block nav-main %} <li><a href="{% url 'maintable-page' %}" class="bg-[#acc9e9]  text-white font-semibold">Main table</a></li>{% endblock nav-main %}


{% load static %}

{% block content %}
<form method="post">
  {% csrf_token %}
    <input type="checkbox" id="my_modal_6" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box max-w-4xl px-16">
        <h3 class="font-bold text-lg">Create New Ticket</h3>
          <div class="flex mt-7 space-x-3">
            <div class="w-1/5  font-semibold">Job alert ID:</div>
            <div class="w-4/5">
              <select class="select select-sm select-bordered w-full max-w-xs" name="job">
                <option disabled selected>please select Job alert ID</option>
                {% for item in data  %}
                <option value="{{item.id}}">{{item.id}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="flex mt-7 space-x-3">
            <div class="w-1/5 font-semibold">Category Attack:</div>
            <div class="w-4/5">
              <select class="select select-sm select-bordered w-full max-w-xs" name="category">
                <option disabled selected>please select attack</option>
                <option value="test1">test1</option>
                <option value="test2">test2</option> 
                <option value="test3">test3</option>
                <option value="test4">test4</option>
              </select>
            </div>
          </div> 
          <div class="flex mt-7 space-x-3">
            <div class="w-1/5  font-semibold">Severity:</div>
            <div class="w-4/5">
              <select class="select select-sm select-bordered w-full max-w-xs" name="severity">
                <option disabled selected>please select severity</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
                <option value="Critical">Critical</option>
              </select>
            </div>
          </div>
          <div class="flex mt-7 space-x-3">
            <div class="w-1/5  font-semibold">Assignee</div>
            <div class="w-4/5">
              <select class="select select-sm select-bordered w-full max-w-xs" name="assignee">
                <option disabled selected>please select Assignee</option>
                <option value="wanee">wanee</option>
                <option value="plaifah">plaifah</option>
              </select>
            </div>
          </div>
          <div class="flex mt-7 space-x-3">
            <div class="w-1/5  font-semibold">Reporter</div>
            <div class="w-4/5">
              <select class="select select-sm select-bordered w-full max-w-xs" name="reporter">
                <option disabled selected>please select Reporter</option>
                <option value="wanee">wanee</option>
                <option value="plaifah">plaifah</option>
              </select>
            </div>
          </div>
          <div class="font-semibold mt-7">Description</div>
          <!-- <div id="example" class="mt-3"></div> -->
          <textarea id="description" placeholder="description" name="description" class="w-full mt-3 textarea textarea-bordered textarea-md"></textarea>
          <div class="modal-action">
              <label for="my_modal_6">
                <button class="btn btn-success" type="submit" name="create">Create</button>
              </label>
              <label for="my_modal_6" class="btn">Close</label>
          </div>   
      </div>
    </div>
    <h1 class="text-3xl mb-10 ml-10 mt-10 font-bold">Main Table</h1>
    <div class="flex space-x-20 mt-5 items-center mx-10">
      <div class="grid grid-cols-3 gap-3">
        <div>
                <label class="btn btn-sm" for="my_modal_6">Create
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-4 h-4 ml-2 stroke-current"> 
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path> 
        </svg>
      </label>
        </div>
        <div>
          <button class="btn btn-ghost btn-sm">
            <div class="font-semibold">Person</div>
            <img class="w-5 h-5" src="{% static 'image/user.png' %}">
          </button>
        </div>
        <div>
          <button class="btn btn-ghost btn-sm">
            <div class="font-semibold">Filter</div>
            <img class="w-5 h-5" src="{% static 'image/filter.png' %}">
          </button>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto mt-10 mx-10">
      <table class="table table-zebra w-full">
        <thead>
          <tr>
            <th>ID</th>
            <th class="pl-16">Time</th>
            <th>task</th>
            <th class="flex justify-center">Status</th>
            <th>Owner</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          {% for item in data %}
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.alert_detail_assign.date}}</td>
            <td>{{item.alert_detail_assign.search_name}}</td> 
            <td class="flex justify-center">
              <div class="w-32 ml-16">
              {% if item.status == 'Escalation' %}
              <label for="my_modal_{{item.ticket_id}}">
              <div class="flex items-center space-x-2">
                <div class="h-5 w-5 rounded-full bg-red-400"></div>
                <div>Escalation</div>
              </div>
              </label>
              {% elif item.status == 'In progress' %}
              <label for="my_modal_{{item.ticket_id}}">
              <div class="flex items-center space-x-2">
                <div class="h-5 w-5 rounded-full bg-orange-400"></div>
                <div>In progress</div>
              </div>
              </label>
              {% elif item.status == 'Close' %}
              <label for="my_modal_{{item.ticket_id}}">
              <div class="flex items-center space-x-2">
                <div class="h-5 w-5 rounded-full bg-green-400"></div>
                <div>Close</div>
              </div>
              </label>
              {% endif %}
              </div>
              <input type="checkbox" id="my_modal_{{item.ticket_id}}" class="modal-toggle" />
              <div class="modal">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">Are you sure!</h3>
                  <p class="pt-5 pb-3">status</p>
                  <select class="select select-sm select-bordered w-full max-w-xs" name="edit_status">
                    <option disabled selected>please select status</option>
                    <option value=1>Working on</option>
                    <option value=2>Stuck</option>
                    <option value=3>Done</option>
                  </select>
                  <div class="modal-action">
                    <button for="my_modal_{{item.ticket_id}}" class="btn btn-info" type="submit" name="edit" value="{{item.ticket_id}}">Edit</button>
                    <label for="my_modal_{{item.ticket_id}}" class="btn">Close!</label>
                  </div>
                </div>
              </div>
            </td>
            <td>{{item.assign}}</td>
            <td>
              <label for="my_modal_8_{{item.ticket_id}}" class="cursor-pointer">
                <div class="flex items-center space-x-2">
                  <img class="w-5 h-5" src="{% static 'image/open.png' %}">
                  <div class="text-xs">View Result</div>
                </div>
              </label>
              <input type="checkbox" id="my_modal_8_{{item.ticket_id}}" class="modal-toggle z-50" />
                    <div class="modal pl-[200px]">
                      <div class="modal-box max-w-6xl px-2 rounded">
                        <label for="my_modal_8_{{item.ticket_id}}" class="flex justify-end pr-3 font-bold text-lg cursor-pointer">X</label>
                        <div class="flex space-x-5">
                          <div class="w-2/5">
                            <div class="ml-16 mb-5 text-xl font-semibold">Test Alert 1</div>
                            <div class="ml-4 inline bg-orange-400 p-1 px-6 text-white rounded-md">in progress</div>
                            <div class="ml-4 mt-6 h-[100px] border p-3 rounded-md">
                              <div class="mb-5 flex">
                                <div class="w-1/2">assignee</div>
                                <div class="flex w-1/2 space-x-2">
                                  <div class="h-7 w-7 rounded-full bg-blue-300 text-center text-white">WP</div>
                                  <div>wanee</div>
                                </div>
                              </div>
                              <div class="mb-5 flex">
                                <div class="w-1/2">report</div>
                                <div class="flex w-1/2 space-x-2">
                                  <div class="h-7 w-7 rounded-full bg-red-300 text-center text-white">PS</div>
                                  <div>plaifah</div>
                                </div>
                              </div>
                            </div>
                            <div class="ml-4 mt-6 h-[300px] border  rounded-md">
                              <div class="text-md font-semibold pb-2 p-2">Details</div>
                              <hr>
                              <div class="p-2">
                                <div class="flex space-x-2 mt-5">
                                  <div class="w-1/2 font-semibold">Date :</div>
                                  <div class="w-1/2">02</div>
                                </div>
                                <div class="flex space-x-2 mt-5">
                                  <div class="w-1/2 font-semibold">Search name :</div>
                                  <div class="w-1/2">02</div>
                                </div>
                                <div class="flex space-x-2 mt-5">
                                  <div class="w-1/2 font-semibold">Result link :</div>
                                  <div class="w-1/2">02</div>
                                </div>
                                <div class="flex space-x-2 mt-5">
                                  <div class="w-1/2 font-semibold">Severity :</div>
                                  <div class="w-1/2">02</div>
                                </div>
                                <div class="flex space-x-2 mt-5">
                                  <div class="w-1/2 font-semibold">Result :</div>
                                  <div class="w-1/2">02</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="w-3/5 pl-7">
                            <div class="mt-20 mr-3">
                              <textarea class="textarea textarea-bordered w-full h-40" placeholder="description"></textarea>
                              <div class="flex space-x-2">
                                <button class="btn btn-sm btn-success w-[100px] text-white">บันทึก</button>
                                <button class="btn btn-sm btn-error w-[100px] text-white">ยกเลิก</button>
                              </div>
                            </div>
                            <div class="mt-10">
                              <textarea class="textarea textarea-bordered w-full" placeholder="comment"></textarea>
                              <div class="flex space-x-2">
                                <button class="btn btn-sm btn-success w-[100px] text-white">บันทึก</button>
                                <button class="btn btn-sm btn-error w-[100px] text-white">ยกเลิก</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</form>  
{% endblock content %}