{% extends "base.html" %}

{% block title %} Necsproject Main Table {% endblock title %}

{% block nav-main %} <li><a href="{% url 'maintable-page' %}" class="bg-[#acc9e9]  text-white font-semibold">Main table</a></li>{% endblock nav-main %}

{% load static %}

{% block content %}
    <input type="checkbox" id="my_modal_6" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box max-w-4xl px-16">
        <h3 class="font-bold text-lg">Create New Ticket</h3>
          <div class="flex mt-7 space-x-3">
            <div class="w-1/5  font-semibold">Job alert ID:</div>
            <div class="w-4/5">
              <select class="select select-sm select-bordered w-full max-w-xs" name="job">
                <option disabled selected>please select Job alert ID</option>
                {% for item in data  %}
                <option value="{{item.id}}">{{item.id}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="flex mt-7 space-x-3">
            <div class="w-1/5 font-semibold">Category Attack:</div>
            <div class="w-4/5">
              <select class="select select-sm select-bordered w-full max-w-xs" name="category">
                <option disabled selected>please select attack</option>
                <option value="test1">test1</option>
                <option value="test2">test2</option> 
                <option value="test3">test3</option>
                <option value="test4">test4</option>
              </select>
            </div>
          </div> 
          <div class="flex mt-7 space-x-3">
            <div class="w-1/5  font-semibold">Severity:</div>
            <div class="w-4/5">
              <select class="select select-sm select-bordered w-full max-w-xs" name="severity">
                <option disabled selected>please select severity</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
                <option value="Critical">Critical</option>
              </select>
            </div>
          </div>
          <div class="flex mt-7 space-x-3">
            <div class="w-1/5  font-semibold">Assignee</div>
            <div class="w-4/5">
              <select class="select select-sm select-bordered w-full max-w-xs" name="assignee">
                <option disabled selected>please select Assignee</option>
                <option value="wanee">wanee</option>
                <option value="plaifah">plaifah</option>
              </select>
            </div>
          </div>
          <div class="flex mt-7 space-x-3">
            <div class="w-1/5  font-semibold">Reporter</div>
            <div class="w-4/5">
              <select class="select select-sm select-bordered w-full max-w-xs" name="reporter">
                <option disabled selected>please select Reporter</option>
                <option value="wanee">wanee</option>
                <option value="plaifah">plaifah</option>
              </select>
            </div>
          </div>
          <div class="font-semibold mt-7">Description</div>
          <textarea id="description" placeholder="description" name="description" class="w-full mt-3 textarea textarea-bordered textarea-md"></textarea>
          <div class="modal-action">
              <label for="my_modal_6">
                <button class="btn btn-success" type="submit" name="create">Create</button>
              </label>
              <label for="my_modal_6" class="btn">Close</label>
          </div>   
      </div>
    </div>
    <h1 class="text-3xl mb-10 ml-10 mt-10 font-bold">Main Table</h1>
    <div class="flex space-x-20 mt-5 items-center mx-10">
      <div class="grid grid-cols-3 gap-3">
        <div>
        <label class="btn btn-sm" for="my_modal_6">Create
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-4 h-4 ml-2 stroke-current"> 
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path> 
        </svg>
      </label>
        </div>
        <div>
          <button class="btn btn-ghost btn-sm">
            <div class="font-semibold">Person</div>
            <img class="w-5 h-5" src="{% static 'image/user.png' %}">
          </button>
        </div>
        <div>
          <button class="btn btn-ghost btn-sm">
            <div class="font-semibold">Filter</div>
            <img class="w-5 h-5" src="{% static 'image/filter.png' %}">
          </button>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto mt-10 mx-10">
      <table class="table table-zebra w-full">
        <thead>
          <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Search Name</th>
            <th>Severity</th>
            <th>status</th>
            <th>Assign</th>
            <th>Detail</th>
          </tr>
        </thead> 
        <tbody id="jobData"></tbody>  
      </table>
    </div>
    <input type="checkbox" id="my_modal_8" class="modal-toggle z-50" />
          <div class="modal pl-[200px]">
            <div class="modal-box max-w-6xl px-2 rounded">
              <label for="my_modal_8" class="flex justify-end pr-3 font-bold text-lg cursor-pointer">X</label>
              <div class="mx-10">
                <div class="w-full">
                  <div id="title" class="mb-5 text-xl font-semibold">Test Alert 1</div>
                  <div class="dropdown">
                    <label tabindex="0" class="btn btn-ghost btn-sm w-[120px] " id="status">
                      <div class="flex space-x-2 items-center">
                        <div  class="text-sm font-semibold normal-case text-white">status</div>
                      </div>
                    </label>
                    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 w-32">
                      <li class="bg-red-500 inline-block">
                        <div class="flex items-center">
                          <button class="text-sm text-white" name="Escalation" value="Escalation" onclick="editStatus('Escalation')">Escalation</button>
                        </div>
                      </li>
                      <li class="bg-orange-500 inline-block">
                        <div class="flex items-center">    
                          <button class="text-sm text-white" type="submit" name="In progress" value="In progress" onclick="editStatus('In progress')">In progress</button>
                        </div>
                      </li>
                      <li class="bg-green-500 inline-block">
                        <div class="flex items-center">
                          <button class="text-sm text-white" type="submit" name="Close" value="Close" onclick="editStatus('Close')">Close</button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class=" mt-6 border p-3 rounded-md  border-gray-400 ">
                    <div class="mb-5 flex">
                      <div class="w-1/2 font-semibold">assignee</div>
                      <div class="flex w-1/2 space-x-2">
                          <div id="assignee">name</div>
                      </div>
                    </div>
                    <div class="mb-5 flex">
                      <div class="w-1/2 font-semibold">report</div>
                      <div class="flex w-1/2 space-x-2">
                        <div id="report">name</div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-6 border border-gray-400 rounded-md w-full">
                    <div class="text-md font-semibold pb-2 p-2">Details</div>
                    <hr style="background-color:#56595d">
                    <div class="p-2">
                      <div class="flex space-x-2 mt-5">
                        <div class="w-1/2 font-semibold">Date :</div>
                        <div id="date" class="w-1/2">02</div>
                      </div>
                      <div class="flex space-x-2 mt-5">
                        <div class="w-1/2 font-semibold">Search name :</div>
                        <div id="search" class="w-1/2">02</div>
                      </div>
                      <div class="flex space-x-2 mt-5">
                        <div class="w-1/2 font-semibold">Result link :</div>
                        <div id="link" class="w-1/2">02</div>
                      </div>
                      <div class="flex space-x-2 mt-5">
                        <div class="w-1/2 font-semibold">Severity :</div>
                        <div id="severity" class="w-1/2">02</div>
                      </div>
                      <div class="flex space-x-2 mt-5">
                        <div class="w-1/2 font-semibold">Result :</div>
                        <div id="result" class="w-1/2">02</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-full">
                  <div class="mt-10 mr-3">
                    <div class="text-md font-semibold mb-2">Description</div>
                    <div id="description-value">
                      <textarea id="description-data"  class="textarea textarea-bordered w-full h-40" placeholder="description"></textarea>
                    </div>   
                    <div class="flex space-x-2 mt-2">
                      <button class="btn btn-sm btn-success w-[100px] text-white" onclick="updateDescription()">save</button>
                    </div>
                  </div>
                  <div class="mt-10">
                    <div class="text-md font-semibold mb-2">comment</div>
                    <textarea class="textarea textarea-bordered w-full" placeholder="comment"></textarea>
                    <div class="flex space-x-2 mt-2">
                      <button class="btn btn-sm btn-success w-[100px] text-white">save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
{% endblock content %}

{% block javascript %}
<!-- <script src="{% static 'controller/table.js' %}"></script> -->
<script>
  let jobId = null
  function showStatus(status) {
    switch (status) {
        case 'Escalation': return (`
      <div>
        <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-red-700"></div>
        <div>Escalation</div>
        </div>
      </div>
      `);
        case 'In progress': return (`
      <div>
       <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-orange-500"></div>
          <div>In progress</div>
        </div>
      </div>
      `);
        case 'Close': return (`
      <div>
        <div class="flex items-center space-x-2">
          <div class="h-5 w-5 rounded-full bg-green-500"></div>
          <div>Close</div>
          </div>
      </div>
      `);
    }
}

function showSeverity(severity) {
    switch (severity) {
        case 'Low': return (`
      <div>
        <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-green-700"></div>
        <div>Low</div>
        </div>
      </div>
      `);
        case 'Medium': return (`
      <div>
       <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-yellow-500"></div>
          <div>Medium</div>
        </div>
      </div>
      `);
        case 'High': return (`
      <div>
        <div class="flex items-center space-x-2">
          <div class="h-5 w-5 rounded-full bg-orange-500"></div>
          <div>High</div>
          </div>
      </div>
      `);
        case 'Critical': return (`
       <div>
        <div class="flex items-center space-x-2">
          <div class="h-5 w-5 rounded-full bg-red-600"></div>
          <div>Critical</div>
          </div>
      </div>
      `);
    }
}

function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();
    if (month.length < 2)
        month = '0' + month;
    if (day.length < 2)
        day = '0' + day;
    return [day, month, year].join('-');
}

function getData(id) {
    return $.ajax({
        url: '/ajax/getUserInfo/',
        type: 'GET', 
        data: {
            'id': id,
        }
    })
};

function formatDate(date) {
    var d = new Date(date),
    month = '' + (d.getMonth() + 1),
    day = '' + d.getDate(),
    year = d.getFullYear();
    if (month.length < 2) 
        month = '0' + month;
    if (day.length < 2) 
        day = '0' + day;
    return [day,month,year].join('-');
}



async function getUserInfo(id) {
    let result = null
    try {
        const res = await getData(id)
        result = JSON.parse(res)[0].fields.username
    } catch (err) {
        console.log(err);
    }
    return result
}

function showSeverity(severity) {
  switch(severity){
    case 'Low' : return (`
    <div>
      <div class="flex items-center space-x-2">
      <div class="h-5 w-5 rounded-full bg-green-700"></div>
      <div>Low</div>
      </div>
    </div>
    `);
    case 'Medium' : return (`
    <div>
     <div class="flex items-center space-x-2">
      <div class="h-5 w-5 rounded-full bg-yellow-500"></div>
        <div>Medium</div>
      </div>
    </div>
    `);
    case 'High' : return (`
    <div>
      <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-orange-500"></div>
        <div>High</div>
        </div>
    </div>
    `);
    case 'Critical' : return (`
     <div>
      <div class="flex items-center space-x-2">
        <div class="h-5 w-5 rounded-full bg-red-600"></div>
        <div>Critical</div>
        </div>
    </div>
    `);
  }
}

function stage(item){
  if(item === 'Escalation'){
    return (`
      <label tabindex="0" class="btn btn-ghost btn-sm w-[120px] bg-red-500" id="status">
        <div class="flex space-x-2 items-center">
          <div  class="text-sm font-semibold normal-case text-white">Escalation</div>
        </div>
      </label>`)
  }
  if(item === 'Close'){
    return (`
      <label tabindex="0" class="btn btn-ghost btn-sm w-[120px] bg-green-500" id="status">
        <div class="flex space-x-2 items-center">
          <div  class="text-sm font-semibold normal-case text-white">Close</div>
        </div>
      </label>`)
  }
  if(item === 'In progress'){
    return (`
      <label tabindex="0" class="btn btn-ghost btn-sm w-[120px] bg-orange-500" id="status">
        <div class="flex space-x-2 items-center">
          <div  class="text-sm font-semibold normal-case text-white">In progress</div>
        </div>
      </label>`)
  }
}

function editStatus(id) {
  $.ajax({
      url: '{% url "update-status" %}',
      data: {
        jobPk:jobId,
        status:id
      },
      type: 'GET',
      success:async function(data) {
        console.log('data => ',data)
        $("#status").empty().append("");
        $("#status").append(`${stage(id)}`)
        getMainTableResult()
        alert('update success')
      }
    })
}

function updateDescription (){
  let value = $("#description-data").val();
  $.ajax({
      url: '{% url "update-description" %}',
      data: {
        jobPk:jobId,
        description:value
      },
      type: 'GET',
      success:async function(data) {
        alert('update success')
      }
    })
}


function showUserProfile (item) {
  console.log('asdasdasdasdasdasd => ',item)
    if(item === 'wanee') {
      return (`
      <div class="flex space-x-2 items-center">
        <div class="text-[10px] bg-blue-500 w-6 h-6 p-1 rounded-full text-white text-center">WN</div>
        <div class="text-sm font-semibold normal-case">wanee</div>
      </div>
      `)
    }

    if(item === 'plaifah') {
      return (`
      <div class="flex space-x-2 items-center">
        <div class="text-[10px] bg-red-500 w-6 h-6 p-1 rounded-full text-white text-center">PS</div>
        <div class="text-sm font-semibold normal-case">plaifah</div>
      </div>
      `)
    }

    if(item === 'unassigned') {
      return (`
      <div class="flex space-x-2 items-center">
        <div class="text-[10px] bg-gray-500 w-6 h-6 p-1 rounded-full text-white text-center">US</div>
        <div class="text-sm font-semibold normal-case">unassigned</div>
      </div>
      `)
    }
  
}

function getData(id) { 
  return $.ajax({
    url: '/ajax/getUserInfo/',
    type: 'GET',
    data: {
        'id': id,
      }
  })
};

async function getUserInfo(id) {
  let result = null
  try {
    const res = await getData(id)
    result = JSON.parse(res)[0].fields.username
  } catch(err) {
    console.log(err);
  }
  return result
}

async function getMainTableById(ticketId , pk){  
  jobId = pk
  let assignName = null
  let reporter = null
  await $.ajax({
      url: '{% url "get-job-alert-id" %}',
      data: {
        ticket_id:ticketId
      },
      type: 'GET',
      success:async function(data) {
        const result = JSON.parse(data)[0].fields
        console.log('data = ',result)

        await getUserInfo(result.assign).then((value) => {
              assignName = value
            })

        await getUserInfo(result.report).then((value) => {
          reporter = value
            })

        $("#title").empty().append("");
        $("#date").empty().append("");
        $("#search").empty().append("");
        $("#link").empty().append("");
        $("#severity").empty().append("");
        $("#result").empty().append("");
        $("#status").empty().append("");
        $("#assignee").empty().append("");
        $("#report").empty().append("");
        $("#description-value").empty().append("");

        $("#assignee").append(`${showUserProfile(assignName)}`)
        $("#report").append(`${showUserProfile(reporter)}`)
        
        $("#description-value").append(`<textarea id="description-data" placeholder="description" name="description" class="w-full mt-3 textarea textarea-bordered textarea-md">${result.description}</textarea>`)
        $("#title").append(`<div class="mb-5 text-2xl font-semibold">${result.search_name}</div>`)
        $("#date").append(`<div id="date" class="w-1/2">${formatDate(result.date)}</div>`)
        $("#search").append(`<div id="search" class="w-1/2">${result.search_name}</div>`)
        $("#link").append(`<div id="link" class="w-1/2">${result.result_link}</div>`)
        $("#severity").append(`<div id="severity" class="w-1/2">${showSeverity(result.severity)}</div>`)
          for (const [key, value] of Object.entries(JSON.parse(result.results))) {
          $("#result").append(
            `<div class="w-1/2">
              <div class="flex space-x-3">
                <div class="font-semibold">${key}: </div>
                <div>${value}</div>
             </div>
            </div>`)
        }
        $("#status").append(`${stage(result.status)}`)
   
      }})
}


function getMainTableResult() {
  $("#jobData").empty().append("");
    $.ajax({
        url: '/ajax/getMaintable/',
        type: 'GET',
        success: async function (data) {
            const result = JSON.parse(data)
            for (var i = 0; i < result.length; i++) {
                const items = result[i].fields
                const jobPk = result[i].pk

                await getUserInfo(items.assign).then((value) => {
                    assignName = value
                })

                $("#jobData").append(`
                <tr>
                  <th>${items.ticket_id}</th>
                  <td>${formatDate(items.date)}</td>
                  <td>${items.search_name}</td>
                  <td>${showSeverity(items.severity)}</td>
                  <td>${showStatus(items.status)}</td>
                  <td>${assignName}</td>
                  <td>
                    <label for="my_modal_8" class="cursor-pointer">
                      <div class="flex items-center space-x-2">
                        <img class="w-5 h-5" src="https://cdn.discordapp.com/attachments/1095727305453752402/1141391343386644531/image.png">
                        <div class="text-xs" onclick="getMainTableById(${items.ticket_id} , ${jobPk})">View Result</div>
                      </div>
                    </label> 
                  </td>
                </tr>
                `)
           }
        }
    })
}

getMainTableResult()
</script>
{% endblock javascript %}