<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .background {
        background: linear-gradient(
          90deg,
          rgba(6, 182, 212, 1) 28%,
          rgba(59, 130, 246, 1) 74%
        );
        height: 100vh;
      }
    </style>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <div>test</div>
  </body>
</html>
