<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      axios
        .get("https://pokeapi.co/api/v2/pokemon/ditto")
        .then(function (response) {
          var pokemonData = response.data.game_indices;

          // Loop through each Pokemon data item
          pokemonData.forEach(function (pokemon) {
            console.log(pokemon);
            // Access the desired information (name)
            var id = pokemon.game_index;
            var name = pokemon.version.name;

            // Build the table row dynamically
            var tableRow = `
                  <tr>
                    <td>${id}</td>
                    <td>${name}</td>
                  </tr>
                `;

            // Append the table row to the table body
            var tableBody = document.querySelector("#pokemon-table tbody");
            tableBody.innerHTML += tableRow;
          });
        })
        .catch(function (error) {
          // Handle any error that occurred during the request
          console.log(error);
        });
    </script>
    <title>Document</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="https://cdn.discordapp.com/attachments/744497433668616303/1114477068453953566/Untitled_1.jpeg"
            alt=""
            class="navbar-brand-img"
            style="height: 40px; width: 60px"
          />
        </a>

        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/job-alert" class="nav-link text-white"
                ><u>Job alert</u></a
              >
            </li>
            <li class="nav-item">
              <a href="/main-table" class="nav-link">Main table</a>
            </li>
            <li class="nav-item">
              <a href="/kanban" class="nav-link">Kanban</a>
            </li>
            <li class="nav-item">
              <a href="/dashboard" class="nav-link">DashBoard</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container ml-3 mt-5">
      <table class="table table-striped table-hover" id="pokemon-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Height</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </body>
</html>
