<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style></style>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="https://cdn.discordapp.com/attachments/744497433668616303/1114477068453953566/Untitled_1.jpeg"
            alt=""
            class="navbar-brand-img"
            style="height: 40px; width: 60px"
          />
        </a>

        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/job-alert" class="nav-link">Job alert</a>
            </li>
            <li class="nav-item">
              <a href="/main-table" class="nav-link">Main table</a>
            </li>
            <li class="nav-item">
              <a href="/kanban" class="nav-link text-white"><u>Kanban</u></a>
            </li>
            <li class="nav-item">
              <a href="/dashboard" class="nav-link">DashBoard</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
