<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .background {
        background: linear-gradient(
          90deg,
          rgba(6, 182, 212, 1) 28%,
          rgba(59, 130, 246, 1) 74%
        );
        height: 100vh;
      }
    </style>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load static %} 
  </head>
  <body>
    <div class="background d-flex justify-content-center align-items-center">
      <div class="w-25 bg-white rounded-3 p-4">
        <div class="w-100 d-flex justify-content-center">
          <img
            alt="logo"
            src="{% static 'image/Necsproject.png' %}"
            style="width: 200px; height: 130px"
          />
        </div>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Input email"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Input password"
            />
          </div>
          <a type="submit" href="job-alert" class="btn btn-primary w-100 mt-4">
            Submit
          </a>
        </form>
      </div>
    </div>
  </body>
</html>
